@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    color: white;
    background-color: rgb(187, 167, 167);
  }
}

.container header h1{
    background-color: blueviolet;
}
.header h2{
    background-color: chartreuse;
}